body {
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
    font-size: 16px;
}
table {
    border-collapse: collapse;
}

tr:nth-child(odd) {
    background-color: #eee;
}

tr:first-of-type td {
    background-color: #444;
    font-weight: bold;
    color: #fff;
}

td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

form {
  left: 10px;
  top: 10px;
  padding: 20px;
}
